.container {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 600px;
  height: 300px;
  gap: var(--gap-x-large);

  padding: 20px;
  right: 10px;
  bottom: 286px; /* 276px */
  margin: auto;

  animation: openAnim 0.8s ease-in-out;
  transition: transform 0.3s;
}

.container:hover {
  transform: translateX(-10px);
}

@keyframes openAnim {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: rotate(0);
  }
}

.search-panel {
  gap: 10px;
  display: inline-flex;
}

.search-bar {
  flex: 1;
  padding: 8px;
  padding-left: 20px;
  color: var(--color-font-primary);
  font-size: var(--font-size-medium);
  border: var(--border-thick);
  background-color: var(--color-input-background);
  border-radius: 20px; /* Задаем скругление */
  outline: none; /* Убираем контур при фокусе */
  transition: 0.3s;
}

.search-bar:focus {
  border: var(--border-thick-focus);
}

.search-bar::placeholder {
  color: var(--color-input-placeholder);
  font-size: var(--font-size-small);
}

.button-search {
  border: var(--border-thick);
  background-color: var(--color-secondary);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.button-search:hover {
  background-color: rgba(230, 230, 230, 0.2);
  border: var(--border-thick-focus);
  border-radius: 15px;
}

.image-list-panel {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
}

.image-list-panel img {
  transition: transform 0.3s, border-radius 0.3s;
}

.image-list-panel img:hover {
  transform: scale(1.1);
  /* border-radius: 10px; */
  z-index: 1;
}

.image-list-panel::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-scrollbar-background);
  border-radius: 5px;
}

.image-list-panel::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-background);
  border-radius: 5px;
}

.image-list-panel::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-background-hover);
  border-radius: 5px;
}

.image-message {
  display: flex;
  justify-content: center;
}
