.container {
  display: flex;
  flex-direction: column;

  position: absolute;
  width: 600px;
  height: 300px;
  gap: 5px;

  padding: 20px;
  right: 10px;
  bottom: 286px; /* 276px */
  margin: auto;

  animation: openAnim 0.8s ease-in-out;
  transition: transform 0.3s;
}

.container:hover {
  transform: translateX(-10px);
}

@keyframes openAnim {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: rotate(0);
  }
}

.search-panel {
  gap: 10px;
  display: inline-flex;
}

.search-bar {
  flex: 1;
  padding: 8px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px; /* Задаем скругление */
  outline: none; /* Убираем контур при фокусе */
}

.search-bar::placeholder {
  color: rgb(210, 209, 209);
  font-size: 14px;
}

.button-search {
  border: 2px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.button-search:hover {
  background-color: rgba(230, 230, 230, 0.2);
  border-radius: 15px;
}
