.button {
  background-color: rgba(49, 49, 49, 0);
  backdrop-filter: blur(20px);
  border: none;
  border-radius: 15px;
  height: 56px;
  width: 56px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(49, 49, 49, 0.2);
  border-radius: 15px;
}
