.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--color-setting-hover);
  border-radius: 10px;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  padding: 5px;
  gap: var(--gap-medium);
  transition: 0.3s;
  overflow: hidden;
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  width: 100%;
}

.container-row {
  display: inline-flex;
  gap: var(--gap-medium);
}

.text {
  color: var(--color-font-primary);
  font-size: var(--font-size-small);
  white-space: nowrap;
}

.text::after {
  content: ':';
}

.icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-size: contain;
  background-position: center;
  border-radius: 5px;
}

/* .input {
  padding-left: 5px;
  color: var(--color-font-primary);
  font-size: var(--font-size-small);
  border: var(--border-thin);
  background-color: var(--color-background-input);
  border-radius: 20px;
  outline: none;
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.input::placeholder {
  color: var(--color-input-placeholder);
  font-size: var(--font-size-small);
}

.input:focus {
  border: var(--border-thin-focus);
} */

/*Диалоговая кнопка*/
.container-dialog {
  display: inline-flex;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.button-done {
  /* background-color: rgb(35, 197, 82); */
  width: 100%;
  height: auto;
  border: none;
  color: var(--color-font-primary);
  background-color: transparent;
  transition: 0.3s;
}

.button-done:hover {
  /* filter: brightness(1.1); */
  background-color: var(--color-apply);
}

.button-close {
  /* background-color: rgb(248, 79, 49); */
  width: 100%;
  height: auto;
  border: none;
  color: var(--color-font-primary);
  background-color: transparent;
  transition: 0.3s;
}

.button-close:hover {
  /* filter: brightness(1.1); */
  background-color: var(--color-cancle);
}
