.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 36px;
  color: white;
  animation: transform 0.8s ease-in-out;
}

.flip {
  animation: flipAnimation 0.8s ease-in-out;
}

.flip-return {
  animation: flipAnimationReturn 0.8s ease-in-out;
}

@keyframes flipAnimation {
  0% {
    transform: rotate(-0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes flipAnimationReturn {
  0% {
    transform: rotate(-0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
