.material-symbols-rounded {
  color: var(--color-font-primary);
  font-size: 30px;
}

.flip {
  animation: flipAnimation 0.8s ease-in-out;
}

.flip-return {
  animation: flipAnimationReturn 0.8s ease-in-out;
}

@keyframes flipAnimation {
  0% {
    transform: rotate(-0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes flipAnimationReturn {
  0% {
    transform: rotate(-0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
