.panel {
  background-color: rgba(44, 44, 44, 0.8);
  backdrop-filter: var(--blur-main-panels); /* Эффект размытия (блюра) фона */
  border: var(--border-thick);
  border-radius: var(--border-radius-main-panels);
  box-shadow: var(--box-shadow-primary);
  padding: var(--padding-main-panels);
  display: inline-flex;
  gap: 10px;

  /* background-color: rgba(44, 44, 44, 0.6);
  backdrop-filter: blur(100px);

  border-radius: 20px;
  padding: 10px;
  gap: 10px;

  display: inline-flex; */
}
