.container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.container:hover {
  transform: translateY(-5px);
}

.icon {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 5px;
}
