.container {
  background-color: rgba(44, 44, 44);
  position: absolute;
  width: 300px;
  height: calc(100vh - 20px);
  border-radius: 20px;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: openAnim 0.8s ease-in-out;
}

@keyframes openAnim {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: rotate(0);
  }
}
