.container {
  display: flex;
  flex-direction: column;

  /* background-color: rgba(44, 44, 44, 0.8); */
  /* border-radius: 20px; */

  position: absolute;
  width: 300px;
  height: calc(100vh - 60px);
  gap: 5px;

  padding: 20px;

  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;

  animation: openAnim 0.8s ease-in-out;
}

@keyframes openAnim {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: rotate(0);
  }
}
