/*Стандартный стиль кнопки*/
.button {
  display: flex;
  border: none;
  padding: 10px;
  padding-left: 15px;
  align-content: center;
  width: 100%;
}

.button-when-open {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) calc(100% - 8px),
    transparent calc(100% - 8px)
  );
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/*Стиль кнопки когда она закрыта*/
.button-when-close {
  background-color: transparent;
  display: flex;
  border: none;
  padding: 10px;
  padding-left: 15px;
  width: 100%;
  border-radius: 10px;
}

.button-when-close:hover {
  background-color: var(--color-setting-hover);
}

.text {
  color: var(--color-font-primary);
  font-size: var(--font-size-large);
}

.icon {
  font-size: var(--font-size-large);
  color: var(--color-font-primary);
  margin-left: auto;
  align-self: center;
}

/*Если у нас контейнер закрыт, то будет анимации появления стрелки*/
.icon-anim-opacity {
  color: transparent;
  transition: color 0.3s ease-out;
}

.button-when-close:hover .icon-anim-opacity {
  color: var(--color-font-primary);
}

.container-anim {
  padding-top: 8px;
  transform: translateY(-8px);
  overflow: hidden;
}

.container-child-when-open {
  background-color: var(--color-setting-hover);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 8px;
}

.container-children {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);

  padding: 15px;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 10px;
}

/*Анимки переворотов стрелок*/
.flip-anim {
  animation: flipAnimation 0.3s linear forwards;
}

.flip-anim-reverse {
  animation: flipAnimationReverse 0.3s linear forwards;
}

@keyframes flipAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes flipAnimationReverse {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
