.mainPanel {
  background-color: rgba(131, 150, 178, 0.2); /* Цвет фона с прозрачностью */
  backdrop-filter: blur(10px); /* Эффект размытия (блюра) фона */
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px 0 0 8px;
  position: fixed;
  bottom: 20px;
  right: 0;
  display: inline-flex;

  gap: 10px;
}
