.container {
  display: flex;
  flex-direction: row;

  position: absolute;
  width: 600px;
  height: 120px;
  /* gap: 5px; */

  padding: 20px;
  right: 10px;
  bottom: 113px; /* 103px */
  margin: auto;

  animation: openAnim 0.8s ease-in-out;
  transition: transform 0.3s;
}

.container:hover {
  transform: translateX(-10px);
}

@keyframes openAnim {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: rotate(0);
  }
}

.content-image {
  height: 100%;
  /* box-sizing: border-box; */
}

.small-image {
  height: 100%;
  width: auto;
  border-radius: 10px;
}

.content-body {
  /* flex: 2;
  padding-left: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* margin: 15px; */
  gap: 2px;
}

.description-text {
  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-clamp: 1;
}

.location-text {
  cursor: pointer;
}

.author-text {
  cursor: pointer;
}

.body-icons {
  font-size: 1rem;
  margin: 0px 5px 0px 5px;
}

.tag-list {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 5px;
  padding-bottom: 1px;

  overflow-x: auto;
}

.tag-list::-webkit-scrollbar {
  width: 0%;
  height: 0%;
}

/* .tag-list::after {
  content: '';
  position: sticky;
  top: 0;
  right: 10px;
  width: 10px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.1),
    transparent
  );
  pointer-events: none;
} */
