.container {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 5px;
  gap: var(--gap-medium);
  transition: 0.3s;
  overflow: hidden;
}

.container:hover {
  background-color: var(--color-setting-hover);
}

.icon {
  width: 32px;
  height: 32px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 5px;
}

.icon-close {
  font-size: var(--font-size-setting-medium);
  margin-top: 1px;
  margin-right: 1px;
  transition: transform 0.5s;
  color: var(--color-font-primary);
}

.icon-close:hover {
  transform: rotate(180deg);
}

.text {
  color: var(--color-setting-text-inactive);
  font-size: var(--font-size-small);
  transition: 0.3s;
  align-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container:hover .text {
  color: var(--color-font-primary);
}

.button-delete {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background-color: var(--color-cancle);
  border: none;
  border-bottom-left-radius: 3px;
  opacity: 0;
  transition: 0.3s;
}

.container:hover .button-delete {
  opacity: 1;
}
