.container-element {
  display: inline-flex;
  justify-content: flex-start;
  gap: 5px;
}

.container-shortcuts {
  display: flex;
  flex-direction: column;
  box-shadow: inset 2px 2px 5px rgba(16, 15, 15, 0.3),
    inset -2px -2px 5px rgba(82, 82, 82, 0.3);
  width: 100%;
  height: auto;
  border-radius: 15px;
  padding: 10px;
  gap: 5px;

  overflow: hidden;
}

.text {
  color: white;
  font-size: 18px;
}

/*Кнопка для добавления*/
.button-for-itemAdd {
  background-color: rgba(255, 255, 255, 0.1);
  height: auto;
  width: 100%;
  color: white;
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}

.button-for-itemAdd:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
