.container {
  display: inline-flex;
  gap: 5px;
  justify-content: flex-start;
}
.text {
  color: white;
  font-size: 18px;
}

.input {
  padding-left: 5px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  outline: none;
  min-width: none;
}

.input::placeholder {
  color: rgb(210, 209, 209);
  font-size: 14px;
}

.button {
  height: auto;
  width: auto;
  color: white;
}
