.container-element {
  display: inline-flex;
  justify-content: flex-start;
  gap: var(--gap-medium);
}

.container-shortcuts {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-setting-depth);
  width: 100%;
  height: auto;
  border-radius: 15px;
  padding: 10px;
  gap: var(--gap-medium);
  overflow: hidden;
}

.text {
  color: var(--color-font-primary);
  font-size: var(--font-size-medium);
}

/*Кнопка для добавления*/
.button-for-itemAdd {
  background-color: var(--color-setting-hover);
  height: auto;
  width: 100%;
  color: var(--color-font-primary);
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}

.button-for-itemAdd:hover {
  background-color: var(--color-setting-hover-intensive);
}
