.backgroundImage {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  position: inherit;
  top: 80px;
  right: 80px;
  bottom: 100px;
  left: 80px;
}
